*{
  margin: 0px !important;
  padding: 0px !important;
}
#vertical_line{
  border-right: 1px solid #eeeeee;
  height: 70px;
}
#search_div{
  width: 40%;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  padding-left: 10px !important;
  background-color: #f8f8f8;
}
#search_div>input{
  border: none;
  width: 90%;
  background-color: transparent;
  height: 40px;
}
#categories_section{
  width: 85%;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#cards_container{
  width: 85%;
  margin: auto !important;
  
  overflow: hidden;
}
.list{
  text-wrap: nowrap;
  overflow-x: scroll;
}
.list>img{
  margin-right: 20px !important;
}